* {
    box-sizing: border-box;
}

body {
    background-color: rgb(32, 32, 32);
    margin: 0 auto;
    
    width: 100vw;
    height: 100vh;
}

h1 {
  color: #aaaaaa;
}
label {
    color: #fff;
    font-size: 1em;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row {
  flex-direction: row;
}

.col {
    flex-direction: column;
}

#board {
    flex-flow: row wrap;
    width: 600px;
    height: 600px;
}

#board > button {
    width: 45%;
    height: 45%;
    margin: .15% .6%;
    background-color: #fff;
    border: 1em solid #fff;
    opacity: 50%;
}

#board button:hover, #start:hover, #reset:hover {
    cursor: pointer;
}

#board > #green {
    background-color: #00ff00;
    border-top-left-radius: 100%;
}

#board > #red {
    background-color: #ff0000;
    border-top-right-radius: 100%;
}

#board > #yellow {
    background-color: #ffff00;
    border-bottom-left-radius: 100%;
}

#board > #blue {
    background-color: #00ff;    
    border-bottom-right-radius: 100%;
}

#center {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: #000;
    justify-content: space-around;
}
#title {
    color: #fff;
    font-size: 4em;
}
#counter {
    font-family: 'Press Start 2P', cursive;
    width: 40px;
    height: 30px;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
    background-color: #ff1947;
}
#power {
    margin-left: 0;
    
}
#toggle {
    width: 30px;
    height: 15px;
    background-color: #525252;
    justify-content: flex-start; 
    margin-top: 0;
}
#progress {
    width: 170px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    margin-top: 10px;
}
#start-btn{
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: #ff0000;
}

#players {
    justify-content: space-between;
} 
#players > h1 {
    text-align: center;
    width: 45%;
    border-radius: 5em;
}
#round {
    text-align: center;
}

.on {
    color: #940000;
    text-align: center;
}


#board .pressed {
    opacity: 100%;
}

@media only screen and (max-width: 576px) {
    body {
        background-color: rgb(32, 32, 32);
        margin: 0 auto;
        flex-direction: column;
        width: 450px;
        height: 450px;
    }
    
    div {
        width: 45%;
        height: 45%;
        margin: .15% .6%;
    }

    label {
        font-size: .75rem;
    }

    label[for="power"] {
        position: absolute;
        right: 11%;
        top: 45%;
    }

    label[for="start"] {
        position: absolute;
        left: 13.5%;
        top: 50%;
    }

    #board {
        width: 300px;
        height: 300px;
    }

    #center {
        width: 75%;
        height: 25%;
        font-size: .5em;
        bottom: 10%;
        border-radius: 1em;
    }


    #start-btn {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 15%;
        top: 60%;
    }

    #counter {
        font-family: 'Press Start 2P', cursive;
        height: 50px;
        width: 75px;
        margin: 0;
        font-size: 2rem;
    }

    #toggle {
        position: absolute;
        right: 10%;
        top: 55%;
        height: 25px;
        width: 50px;
    }

    #toggle > #power {
        height: 50px;
    }
}